@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.userHeader {
  text-align: center;
  background: linear-gradient(178deg, #eadf19 3%, #f99d28 89%);
  height: 150px;
}

.userPhoto {
  position: relative;
}
.userPhoto img {
  display: inline-block;
  border: 2px solid gray;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin-top: 5px;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(110%, 90%);
  position: absolute;
}

.usernames {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: center;
}

.usernames span {
  font-weight: bold;
}

.ffunctionButton {
  display: flex;
  justify-content: space-between;
}

.clickBtn {
  height: 37px;
  width: 90px;
  margin-left: 5px;
  margin-right: 5px;
}

.line {
  height: 150px;
}
.page {
  padding-bottom: 50px;
}
