.container {
  display: flex;
  justify-content: center;
  height: 5rem;
  /* background-color: red; */
  width: 99vw;
  margin-top: 1rem;
  align-content: center;
  border-radius: 1rem;
  border: none;
}

.addList {
  background-color: white;
}

.title {
  margin-left: 1rem;
  flex-grow: 1;
}

.icon {
  font-size: x-large;
  color: rgba(255, 145, 33, 255);
  border-color: rgba(255, 145, 33, 255);
  border: 1px solid;
  border-radius: 100%;
  margin-right: 1rem;
}

.recommend {
  font-size: x-small;
  margin-top: 0.4rem;
  color: gray;
}

.selectedFoodContainer {
  margin: 0;
  /* background-color: aquamarine; */
  width: 100vw;
  /* background-color: red; */
  padding: 0;
  background-color: white;

}

.selectedFood {
  display: flex;
  align-items: center;
  font-size: small;
  margin: 1rem;
  /* width: 96vw;
background-color: red; */
}

.selectedFoodCal{
  text-align: end;
  
}

.selectedFoodAmounting {
  margin-top: 0.5rem;
  color: lightgray;
}

.selectedFoodName {
  flex-grow: 1;
  max-width: 65vw;
}

.addFoodButton {
  background-color: white;
  color: rgb(250, 69, 69);
  width: 99vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  font-size: large;
  padding-top: 0;
  /* margin-top: 1rem; */
}


.dietImg{
  height: 50px;
  width: 50px;
  padding-bottom: 0.2rem;
}

.normalDietImg{
  height: 65px;
  width: 65px;
  padding-bottom: 0.2rem;
}

.happyIcon{
  color: rgba(255, 200, 33, 255);
  font-size: xx-large;
  margin-left: 4.5rem;
  margin-bottom: 0.5rem;
}

.side{
  background-color: white;
  color: rgb(226, 35, 35);
  font-size: 2rem;
  margin-right: 3rem;
}