.container{
    width: 99vw;
    /* margin-top: 1rem; */
    align-content: center;
    border-radius: 1rem;
    /* display: flex; */
    background-color: white;
    max-height: 98px;
    /* margin-bottom: 200rem; */
}

.container img{
    height: 2.2rem;
    margin-left: 1rem;
    position: relative;
    width: 6.5vw;
}

.container button{
    background-color: white;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    width: 99vh;
}

.showWater{
    font-size: larger;
    margin-left: 1rem;
}

.showCup{
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    font-size: smaller;
    color: gray;
    justify-content: flex-end;
}

.showCupOfWater{
    display: flex;
    flex-wrap: wrap;
}
