.container{
    background-color: rgba(255,145,33,255);
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.calories_bar{
    position: relative;
    width: 160px;
    height: 160px;
    /* background-color: cornflowerblue; */
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7)
}

.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}

#calories{
    font-weight: 600;
    font-size: xx-large;
    color: #555;
}

circle{
    fill:none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset:0 ;
    animation: anim 2s linear forwards;
}

.calories_box{
    text-align: center;
}

svg{
    position: absolute;
    top:0;
    left:0
}

@keyframes anim{
    100%{
        stroke-dashoffset: var(--car);
    }
}

.date{
    color: white;
    margin: 1rem;
    font-size: medium;
    font-family: system-ui;
    display: flex;
    justify-content:space-around;
    /* justify-content: center; */
    width: 100%;
}

.date button{
    background-color: rgba(255,145,33,255);
    color: white;
}

.chevron{
    font-weight: bolder;
    font-size: x-large;
}


.calculate{
    display: flex;
}

.recordBox{
    margin-top: 0.5rem;
    margin-right: 1.5rem;
    color: white;
    border-left: 1px solid;
    padding-left: 0.5rem;
    /* text-align: start; */
    font-size: larger;
}

.word{
    font-size: small;
    color: rgb(240, 232, 232);
    text-transform: capitalize;
}

.moreDetailButton{
    z-index: 1;
    position: absolute;
    right: 3.5rem;
}

.moreDetailButton button{
    border-radius: 10px;
    background-color: rgb(248, 120, 0);
    color: white;
    font-size: medium;
}