.content{
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: medium;
    margin-top: 1rem;
    /* width: 100%; */
}

.content input{
    border: 0 ;
    /* height: 3rem; */
    /* width: 15rem; */
    text-align: end;
    margin-right: 1rem;
    
}

.addButton{
    position: absolute;
    bottom: 100px;
    left: 50px;
    right: 50px;
    background-color: rgba(255,145,33,255);
    border-radius: 3px;
    height: 6vh;
    font-size: larger;
    color: white;
}

