
.searchItem{
    display: flex;
    align-items: center;
    width: 98vw;
}
.foodName{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.foodWeight{
    font-size: small;
}

.link{
    text-decoration: none;
    color: black;
}

