.tabBar {
  position: absolute;
  z-index: 99;
  bottom: 0;
  height: 50px;
  width: 100vw;
  background-color: rgba(244, 245, 248, 0.8);
  border: none;
  background: rgb(250, 250, 250);
  background: linear-gradient(
    0deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
}
.body {
  position: relative;
}
