.text{
  font-family:"Lato", sans-serif;
}

.upper{
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: 45px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 11px;
  display: block;
}

.postion{
float: right;
height: 20px;
width:20px;
border-radius: 100%;
background-color: rgb(42,142,250);
color:#fff;
left: 69px;
bottom: 10px;
 text-align: center;
position: relative;
} 

