.list {
  margin: 0;
  padding-bottom: 50px;
  position: relative;
  background-color: #c2c2c2;
}
.postButton {
  position: absolute;
  right: 30px;
  bottom: 80px;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  background-color: transparent;
}

.postIcon {
  height: 70px;
  width: 70px;
}

.title {
  display: flex;
}
