@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.length{
    height: 100%;
    width: 100%;
    background: linear-gradient(178deg, #EADF19 3%, #F99D28 89%);
}

.container{
    background: transparent;
}

button{
    height: 50px;
    width: 50%;;
    margin: 10px;

}

#btn{
    border-radius: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #cccccc;
}


.change h3{
    overflow: hidden;
  text-align: center;
}

.change h3::before,
.change h3::after{
    background-color: #a9a9a9;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.change h3:before {
    right: 0.5em;
    margin-left: -50%;
  }

  .change h3:after{
    left: 0.5em;
    margin-right: -50%;
  }


#font{
    font-family: 'Lato', sans-serif; 
     background: transparent;
    padding:0 10px; 
}


.loading-effect{
    animation: pagedown 1s linear 0s 1 normal none;
}

@keyframes pagedown {
	0% {
		opacity: 1;
		transform: rotateX(0);
		transform-origin: bottom;
	}

	100% {
		opacity: 0;
		transform: rotateX(-70deg);
		transform-origin: bottom;
	}
}