.waveContainer {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.wave {
  display: block;
  position: relative;
  height: 40px;
  background: linear-gradient(178deg, #eadf19 3%, #f99d28 89%);
}

.wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: #fff;
  right: -25%;
  top: 20px;
}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background: linear-gradient(178deg, #eadf19 3%, #f99d28 89%);
  left: -25%;
  top: -240px;
}
.title {
  font-size: 36px;
}
.page {
  padding-bottom: 50px;
}
