/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /**orange**/
  --ion-color-orange: orange;
  --ion-color-orange-rgb: 0, 0, 0;
  --ion-color-orange-contrast: #ffffff;
  --ion-color-orange-contrast-rgb: 255, 255, 255;
  --ion-color-orange-shade: #000000;
  --ion-color-orange-tint: #1a1a1a;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** nothing **/
  --ion-color-nothing: #ffffff;
  --ion-color-nothing-rgb: 255, 255, 255;
  --ion-color-nothing-contrast: #000000;
  --ion-color-nothing-contrast-rgb: 0, 0, 0;
  --ion-color-nothing-shade: #ffffff;
  --ion-color-nothing-tint: #ffffff;

  /** pig **/
  --ion-color-pig: #f8ced0;
  --ion-color-pig-rgb: 248, 206, 208;
  --ion-color-pig-contrast: #000000;
  --ion-color-pig-contrast-rgb: 0, 0, 0;
  --ion-color-pig-shade: #dab5b7;
  --ion-color-pig-tint: #f9d3d5;
}

@media (prefers-color-scheme: dark123) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #cccccc;
    --ion-background-color-rgb: 204, 204, 204;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;

    --ion-color-step-50: #c2c2c2;
    --ion-color-step-100: #b8b8b8;
    --ion-color-step-150: #adadad;
    --ion-color-step-200: #a3a3a3;
    --ion-color-step-250: #999999;
    --ion-color-step-300: #8f8f8f;
    --ion-color-step-350: #858585;
    --ion-color-step-400: #7a7a7a;
    --ion-color-step-450: #707070;
    --ion-color-step-500: #666666;
    --ion-color-step-550: #5c5c5c;
    --ion-color-step-600: #525252;
    --ion-color-step-650: #474747;
    --ion-color-step-700: #3d3d3d;
    --ion-color-step-750: #333333;
    --ion-color-step-800: #292929;
    --ion-color-step-850: #1f1f1f;
    --ion-color-step-900: #141414;
    --ion-color-step-950: #0a0a0a;
    --ion-item-background: #ffffff;

    --ion-toolbar-background: #ffffff;

    --ion-tab-bar-background: #ffffff;

    --ion-card-background: #ffffff;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #cccccc;
    --ion-background-color-rgb: 204, 204, 204;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;

    --ion-color-step-50: #c2c2c2;
    --ion-color-step-100: #b8b8b8;
    --ion-color-step-150: #adadad;
    --ion-color-step-200: #a3a3a3;
    --ion-color-step-250: #999999;
    --ion-color-step-300: #8f8f8f;
    --ion-color-step-350: #858585;
    --ion-color-step-400: #7a7a7a;
    --ion-color-step-450: #707070;
    --ion-color-step-500: #666666;
    --ion-color-step-550: #5c5c5c;
    --ion-color-step-600: #525252;
    --ion-color-step-650: #474747;
    --ion-color-step-700: #3d3d3d;
    --ion-color-step-750: #333333;
    --ion-color-step-800: #292929;
    --ion-color-step-850: #1f1f1f;
    --ion-color-step-900: #141414;
    --ion-color-step-950: #0a0a0a;
    --ion-item-background: #ffffff;

    --ion-toolbar-background: #ffffff;

    --ion-tab-bar-background: #ffffff;

    --ion-card-background: #ffffff;
  }
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}
.ion-color-nothing {
  --ion-color-base: var(--ion-color-nothing);
  --ion-color-base-rgb: var(--ion-color-nothing-rgb);
  --ion-color-contrast: var(--ion-color-nothing-contrast);
  --ion-color-contrast-rgb: var(--ion-color-nothing-contrast-rgb);
  --ion-color-shade: var(--ion-color-nothing-shade);
  --ion-color-tint: var(--ion-color-nothing-tint);
}
.ion-color-pig {
  --ion-color-base: var(--ion-color-pig);
  --ion-color-base-rgb: var(--ion-color-pig-rgb);
  --ion-color-contrast: var(--ion-color-pig-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pig-contrast-rgb);
  --ion-color-shade: var(--ion-color-pig-shade);
  --ion-color-tint: var(--ion-color-pig-tint);
}
