.header{
    --background:rgba(255,145,33,255);
    color: white;
}

.icon{
    font-size: xx-large;
    margin-left: 0.5rem;
}

.title{
    display: flex;
    align-items: center;
    font-size: x-large;
    flex-grow: 1;
    margin-left: 0.1rem;
}

.date{
    display: flex;
    background-color:rgba(255,145,33,255) ;
    justify-content: space-around;
    color: white;
    font-size: small;
    align-items: center;
    height: 5vh;
}

.date button{
    background-color:rgba(255,145,33,255) ;
    color: white;
}

.total{
    display: flex;
    justify-self: flex-end;
}

.nutritionName{
    display: flex;
    flex-grow: 1;
    width: 60vw;
}

.nutritionValue{
text-align: end;
width: 30vw;
} 

.total{
    font-weight: bold;
    font-size: larger;
    width: 90vw;
    display: flex;
    justify-content: flex-end;
}