.header{
    --background:rgba(255,145,33,255);
    color: white;
}

.edit{
    display: flex;
    align-items: center;
    font-size: medium;
}

.foodName{
    font-size: larger;
    background-color: rgba(255,145,33,255);
}

.servingSize{
    font-size: small;
    font-weight: bold;
}

.servingNumber{
    display: flex;
    font-size: small;
    font-weight: bold;
}

.servingNumber input{
    border: 0;
    /* height: 3rem; */
    /* width: 15rem; */
    text-align: end;
    font-weight: normal;
    font-size: small;
}

.detailNutrition{
    font-size: medium;
    font-weight: bolder;
}

.detailContent{
    font-size: small;
}

.icon{
    margin-left: 0.6rem;
}

.colorIcon{
    margin-left: 0.6rem;
    color: lightgreen;
}

.servingNumber input{
    font-weight: bold;
}

.icon{
    font-size: x-large;
    margin-right: 1rem;
    background-color:rgba(255,145,33,255);
    color: white;
}

.title{
    display: flex;
    align-items: center;

}