.header{
    --background: rgba(255,145,33,255);
    height: 4rem;
    color: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 100vw; */
}

.icon{
    font-size: xx-large;
}

.container{
    font-size: larger;
    padding: 1rem;
    font-weight: bold;
}

.detailItem{
    width: 60vw;
}

.itemValue{
    width: 30vw;
    text-align: end;
}

input{
  border: none;  
}

.title{
    display: flex;
    /* width: 100%; */
    justify-content:space-around;
    align-content: center;
    padding-top: 1rem;
}