.header{
    --background: rgba(255,145,33,255);
    height: 4rem;
    color: white;
    display: flex;
    justify-content: space-between;
}

.icon{
    font-size: xx-large;
    color: white;
}

.chooseDiet{
    display: flex;
    flex-grow: 1;
}

.log{
    font-size: x-large;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    background-color: rgba(255,145,33,255);
    color: white;
}

.chooseAddMethod{
    display: flex;
    border-bottom: 0.1rem solid lightgray;
    height: 3rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    padding-top: 1rem;
    font-weight: bolder;
    color: lightgray;
}

.chooseAddMethod div{
    width: 48vw;
    display: flex;
    justify-content: center;
}

.realChoose{
    border-bottom: 0.6rem solid ;
    color: black;
}

.selectedItemBox{
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    position: fixed;
    z-index: 2;
}
.selectedItem{
    font-size: medium;
    font-weight: bold;
}

.selectedItemCal{
    color: gray;
}

.searchBtn{
    font-size: large;
    border-radius: 5px;
    background-color: white;
}

.dialog{
    width: 100%;
    height: 40rem;
    position: fixed;
    padding: 0;
    bottom: 0;
}

.dialogSelectedItemBox{
    background-color: lightgray;
    position: absolute;
    top:0;
    width: 100%;
    padding: 0.3rem;
    padding-left: 1rem;
    display: flex;
}

.closeBtn{
  /* background-color: gray; */
  color: black;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  font-size: x-large;
}

.dialogContent{
    padding-top: 2.5rem;
    
}

[data-reach-dialog-content] {
    margin: 0vh auto;
}

.foodName{
    display: flex;
    width: 40vw;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.foodWeight{
    font-size: small;
    color: rgb(148, 146, 146);
}

.list{
    margin-left:1rem;
    flex-grow: 1;
    width: 45vw;
}

.trash{
    font-size: larger;
    margin-top: 0.2rem;
    color: gray;
}