.card {
  height: auto;
  background-color: #fff;
  margin: 5px;
  border-radius: 0;
  padding: 0px;
  /* border-bottom: dashed 1px; */
}

.icon {
  width: 20%;
  background-color: #fff;
  display: flex;
  flex: start;
}
.content {
  width: 80%;
  background-color: #fff;
}
.bottomBar {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.timeShow {
  font-size: 10px;
  padding-top: 5px;
}
.selectorItem {
  --inner-border-width: 0px 0px 0px 0px;
}
