.commentBox {
  display: flex;
  justify-content: space-evenly;
}
.commentIcon {
  height: 40px;
  width: 40px;
}
.commentTime {
  font-size: 12px;
  padding: 5px;
}
.commentContent {
  font-size: 14px;
  background-color: #f0f2f5;
  border-radius: 10px;
  padding: 10px;
}
.commentUsername {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.contentBox {
  width: 75%;
}
