.parent {
  align-self: stretch;
  align-items: center;
  /* height: 100%; */
  margin: 0;
  text-align: center;
}

.likeUserInfo {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.likeUserInfo img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.userspan {
  display: block;
  margin: 0 20px 0 20px;
}

.border {
  border-bottom: 1px solid black;
  padding: 16 16 16 16;
}
