@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.userHeader {
  text-align: center;
  background: linear-gradient(178deg, #eadf19 3%, #f99d28 89%);
  height: 150px;
}

.userPhoto {
  position: relative;
}
.userPhoto img {
  display: inline-block;
  border: 2px solid gray;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  margin-top: 5px;
}

.usernames {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: center;
}

.usernames span {
  font-weight: bold;
}


.line {
  height: 100px;
}
