.background{
  background-image: url("chatroom.jpeg");
  width: 100%;
  height: 100%;

}

.left{
float: left;

}

.left img{
  height: 40px;
  width: 40px;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 50%;
}
/* for sender,recevier css */
.messagessender .div{
  text-align: center;
}
.messagesreceiver {
  text-align: right;
}
/* for recevier css */
.allMessageContainer1{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.messageContainer1{
  max-width: 300px;
  height: 100%;
  background-color:#f2f2f2;
  padding: 10px;
	border-radius: 10px;
	margin: 20px 0px;
  margin-left: 15px;
}

.messageContainer1 .name1{
  float: left;
  font-size: 11px;
  margin-left: 10px;
  margin-bottom: 10px;
}


.time1{
  float: left;
	color: #888;
	font-size: 12px;
	font-weight: 700px;
}
/* for recevier css */

/* for sender css */
.allMessageContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* overflow-y: scroll; */
}

.messageContainer{
  max-width: 300px;
  height: 100%;
  background-color: #dcfdd0;
  padding: 10px;
	border-radius: 10px;
	margin: 20px 0px;
  margin-right: 15px;

}

.messageContainer .name{
  float: right;
  font-size: 11px;
  margin-right:10px;
  margin-bottom: 3px;
}


.messageContainer .messagesend{
  text-align: center;
  font-size: 18px;
  word-break: break-all;
}


.messageContainer .messagesend img{
  width: 280px;
}

/* .messageContainer img{
  display: block;
  margin-left: auto;
  margin-right:auto;
  height: auto;
  width: auto;
  width: 50%;
} */

.time{
  float: right;
	color: #888;
	font-size: 12px;
	font-weight: 700px;
}

/* for sendercss */

.thumbnailsContainer {
  display: flex;
}

.thumbnailContainerActive {
  border: 4px blue solid;
}

.thumbnailContainer {
  border: 4px transparent solid;
}

.camContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.cam {
  margin-top:3.5rem;
  /* height: calc(100% - 6.5rem); */
  height: 100% ;
  width: 100%;
}



